
body{
    margin: 0;
}

.nav-parent{
    display:flex;
}

.nav{
    position: relative;
    width: 250px;
    height: 100vh;
    text-align: center;
    list-style: none;
}

.nav img{
    margin: 10px 0 0 30px;
    width: 80%;
    height: auto;
}

.divider{
    margin-top: 20px;
}

.nav li{
    display: flex;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    color: white;
    background-color: blue;
    width: 90%; 
    padding: 8px;
    border-radius: 5px;
    margin: 10px 10px 15px 15px;
    box-shadow: 0 0 10px blue;
}

.nav li svg{
    margin: 3px 10px;
    width: 1em;
    height: .9em;
}

.nav li:hover{
    box-shadow: 0 0 20px blue;
    padding-left: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(93, 93, 93);
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    width: 1000px;
    overflow: hidden;
    height: 60px;
    background-color: white;
    margin-top: 20px;
}

.header img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.content-body{
    justify-content: center;
    display: flex;
    width: 80%;
    height: 100vh;
}

.vl {
    margin-left: 8px;
    border-left: 1.5px solid rgb(197, 196, 196);
}